html, body {
    padding: 0;
    margin: 0;
    background-color: black;
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid black;
}